$mainGreen: #17ba22; /* rgba(23, 186, 34, 1) */
$mainBlue: #2f5572; /* rgba(47, 85, 114, 1) */
$mainRed: #da1b1b; /* rgba(218, 27, 27, 1) */
$mainGrey: #787171; /* rgba(120, 113, 113, 1) */
$mainOrange: #ff9900;/* rgba(255, 153, 0, 1) */
$mainWhite: #FFF; /* rgba(255, 255, 255, 1) */
$lightBlue: #70b3e6; /* rgba(112, 179, 230, 1) */
$lightOrange: #ffb647; /* rgba(255, 182, 71, 1) */
$lightGrey: #908989; /* rgba(144, 137, 137, 1) */
$darkGreen: #118819; /* rgba(17, 136, 25, 1) */
