.back-to-top {

  &--icon {
    position: fixed;
    bottom: 6.5rem;
    border-radius: 50%;
    transform: scale(.45);
    background: $lightOrange;
    padding: 0;
    box-shadow: 0 0 20px #000;


    @mixin atMedium {
      transform: scale(.75);
      bottom: 2.5rem;
    }
  }
}
