.nav {

  & li {
    display: inline-block;
    padding-right: 1em;
  }

  & a {
    color: $mainWhite;
    padding-bottom: .25em;

    &:hover {
      color: $lightOrange;
    }

    @mixin atMedium {
      &::after {
        content: '';
         display: block;
         margin: auto;
         height: 2px;
         width: 0px;
         background: transparent;
         transition: all .3s ease;
      }

      &:hover::after {
        width: 100%;
        background: $mainRed;
      }
    }
  }
}
