.side-nav {
  position: relative;
  z-index: 1;

  /* Begin Styling Elements */
  &__pages {
    position: fixed;
    top: 25%;
    right: -6rem;
    background: rgba(47, 85, 114, .6);
    width: 6.5rem;
    border-radius: .75rem 0 0 .75rem;
    transition: all .3s ease-out;

    li {
      margin-left: -1em;
      padding: 0.3125rem 0;
    }

    a {
      color: $lightBlue;
      padding-bottom: .125rem;

      &:hover {
        text-color: $lightOrange;
      }
    }
  }

  &__menuArrow {
    position: fixed;
    top: 27.5%;
    right: .5rem;
    transform: scale(2);
    transform-origin: right center;
    color: $darkGreen;
    margin-top: 3rem;
    transition: all .4s ease-out;

    &:hover {
      color: $mainOrange;
    }

  }

}
