.social-media {

  &__icons {
  
    &--facebook {
      background-color: $mainBlue;
    }

    &--twitter {
      background-color: $lightBlue;
    }

    &--youtube {
      background-color: $mainRed;
    }
  }
}
